<div>
    <style>
        pizzas {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 1 0 auto;
        }
        pizza {
            margin: 10px;
            width: 20%;
            padding: 15px;
<!--            border: 1px solid black;-->
            border-radius: 20px;
            background: white;
        }
    </style>
	{% for category in categories %}
	    <pizzas>
		{% for product in products %}
			{% if product.category == category %}
			<a name="{{ category }}"></a>
				<pizza>
					<a name="{{ product.id }}"></a>
				    {% include 'mainapp/pizza.html' %}
				</pizza>
			{% endif %}
			{% endfor %}
	    </pizzas>
	{% endfor %}
</div>
