{% extends "mainapp/base.html" %}

{% block title %}
  Корзина
{% endblock %}

{% block solid %}
<div>
    <style>
        detai {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }
        detail {
            display: flex;
            flex-direction: row;
            margin: 10px;
            padding: 15px;
            border: 1px solid black;
            border-radius: 20px;
            background: white;
            justify-content: space-around;
            align-content: stretch;
            width: 100%;
            align-items:center;
        }
        det {
            margin: 10px;
            width: 50px;
            padding: 15px;
            flex-grow: 1;
            align-items:center;
            }
        .heading{
            font-family: Open Sans;
            font-size: 20px;
            font-weight: bold;
            color: #000000;
        }
        .description{
            font-family: Open Sans;
            font-size: 12px;
            font-weight: 100;
            color: #757575;
        }
    </style>

    <detai>
<!--        <detail>-->
<!--          <det>Картинка</det>-->
<!--          <det>Товар</det>-->
<!--          <det>Обновить количество</det>-->
<!--          <det>Удалить</det>-->
<!--          <det>Кол-во</det>-->
<!--          <det>Цена за шт</det>-->
<!--          <det>Общая стоимость</det>-->
<!--            <det>Стоимость</det>-->
<!--        </detail>-->
        {% for item in cart %}
            {% with product=item.product %}
            <detail>
                <det>
                    <img src="{{ product.image_url }}"
                        width="150px" height="150px" alt="">
                </det>
                <det style="font-family: Open Sans; flex-grow: 1;">
                    <center>
                        {{ product.name }}
                    </center>
                </det>
<!--                <det>-->
<!--                    <form action="{% url 'cart:cart_add' product.id %}" method="post">-->
<!--                        <center>{{ item.update_quantity_form.quantity }}</center>-->
<!--                {{ item.update_quantity_form.update }}-->

<!--                <button style="margin: 10px;-->
<!--		    padding: 5px;-->
<!--		    border-radius: 20px;">-->
<!--		    Обновить цену-->
<!--            	</button>-->
<!--                {% csrf_token %}-->
<!--              </form>-->
<!--                </det>-->
                <det>
                    <form action="{% url 'cart:cart_remove' product.id %}">
                        {% csrf_token %}
                        <button>
                                УДАЛИТЬ
                        </button>
                    </form>
                </det>
<!--                <det>-->
<!--                    {{ item.quantity }}-->
<!--                </det>-->
<!--                <det>{{ item.price }}р</det>-->
                <det style="font-family: Open Sans;">{{ item.total_price }}р</det>
              </detail>
            {% endwith %}
        {% endfor %}
    </detai>
    <form action="{% url 'orders:order_create' %}">
    	<button>
    		ЗАКАЗАТЬ
    	</button>
    </form>
</div>

{% endblock %}
